<!--

-->
<launch>
  <!-- arguments -->
  <arg name="model" default="$(find lightrover_description)/robots/lightrover_urdf.xacro"/>
  <arg name="use_gui" default="True" />

  <!-- prameters -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- nodes -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lightrover_description)/configuration_files/show_model.rviz" required="true" />
</launch>
