<!--
SLAM(gmapping)のテスト
起動コマンド:roslaunch wrs201_ros gmapping.launch
-->

<launch>

  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="mapper">
    <param name="maxUrange" value="8.0" type="double" />
    <param name="delta" value="0.03" />
    <param name="xmax" value="30" type="double" />
    <param name="ymax" value="30" type="double" />
    <param name="xmin" value="-30" type="double" />
    <param name="ymin" value="-30" type="double" />
		<param name="base_frame" value="base_footprint" type="string"/>
  </node>

  <node pkg="rviz" type="rviz" args="-d '$(find lightrover_ros)/configuration_files/rviz/gmapping.rviz'" name="visualizer" respawn="true" />

</launch>
