<!--
SLAM（gmapping）サンプルのlaunch（シミュレータ用）

roslauchを使ってGazebo上でライトローバーを起動してから使用してください。

地図を生成していくためにはライトローバーを手動で移動させる必要があります。
ゲームパッド操作サンプルまたはマウス（タッチパッド）操作サンプルを使用してください。

-->

<launch>

  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="mapper">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
    <param name="maxUrange" value="10.0" type="double" />
    <param name="delta" value="0.05" />
    <param name="xmax" value="50" type="double" />
    <param name="ymax" value="50" type="double" />
    <param name="xmin" value="-50" type="double" />
    <param name="ymin" value="-50" type="double" />
  </node>

  <!-- rviz(視覚化ツール) -->
  <node pkg="rviz" type="rviz" args="-d '$(find lightrover_ros)/configuration_files/rviz/gmapping.rviz'" name="visualizer" respawn="true" />
</launch>
